* {
    font-family: 'Manrope', sans-serif !important;
}
/* @media (width < 600px) {
    * {
        overflow-x: hidden;
    }
} */
.ant-avatar {
    background-color: rgb(144, 145, 145);
    border: none !important;
    box-shadow: -1px 0px 2px rgb(0, 0, 0);
}
.ant-modal-header {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: transparent !important;
}
@media (min-width: 200px) and (max-width: 480px) {
    /* * {
        overflow-x: hidden;
    } */
    .ant-layout-header {
        height: 70px !important;
    }
}
@media (min-width: 480px) and (max-width: 768px) {
    /* * {
        overflow-x: hidden;
    } */
    .ant-layout-header {
        height: 70px !important;
    }
}
/* =====================description===================== */
.content {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 14px;
    color: #a6a6a6;
    text-wrap: wrap;
}
.hide {
    display: none;
}
#check {
    display: none;
}
.see-less {
    display: none;
}
label {
    color: #3888ff;
}
#check:checked ~ .hide {
    display: block;
}
#check:checked ~ .see-more {
    display: none;
}
#check:checked ~ .see-less {
    display: block;
}
/* =======================button-and-social================== */
.button-and-social-section {
    width: 100%;
    padding: 0 0 0 30px;
}
